<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> GitHub Explorer </title>
</head>
<body>
    <form action="/" method="POST">

        <label for="q">Enter smthg</label>
        <input type="text" name="q" id="q" required>
        <br>
        <label for="description"> Description: </label>
        <input type="text" name="description" id="description">
        <br>
        <label for="topics"> Topics: </label>
        <input type="text" name="topics" id="topics">
        <br>
        <label for="readme"> Readme: </label>
        <input type="text" name="readme" id="readme">
        <br>
        <input type="submit" value="Search">
    </form>

</body>
</html>